h2 {
    color: #8d76f5;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}

section {
    div h2 {
        color: #8d76f5;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    div p {
        color: #6F8AB7;
        font-family: 'Quicksand', sans-serif;
        font-size: medium;
    }
}