* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #3f3e3e;
}

@import "header.scss";

main section div p {
    color: #6F8AB7;
    font-size: 2.2rem;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
    width: 90%;
    padding: 30px
}

@import "section.scss";

@import "footer.scss";

form {
    color: #6F8AB7;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

@import "clases.scss";

@media (max-width: 576px) {
    .navTitulo {
        font-size: 25px;
    }

    .navSecciones {
        font-size: 15px;
        text-decoration: none;
    }

    main section div p {
        font-size: 1.5rem;
    }

    .carouselStyle {
        width: 100%;
    }

    .carouselResponsiveMargin {
        margin-left: 7px;
    }

    footer div h2 {
        font-size: 22px;
    }
    
    footer div p {
        font-size: 18px;
    }

    footer div a img {
        width: 10%
    }

    h2 {
        font-size: 25px;
    }
    
    section div h2 {
        font-size: 22px;
    }
    
    section div p {
        font-size: 18px;
    }

    section div img {
        width: 95%
    }

    .formSize {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navTitulo {
        font-size: 35px;
    }

    .navSecciones {
        font-size: 20px;
        text-decoration: none;
    }

    main section div p {
        font-size: 1.7rem;
    }

    .carouselStyle {
        width: 100%;
        margin: auto;
    }

    .carouselResponsiveMargin {
        margin-left: 10px;
    }

    footer div h2 {
        font-size: 25px;
    }
    
    footer div p {
        font-size: 20px;
    }

    footer div a img {
        width: 6%
    }

    h2 {
        font-size: 25px;
    }
    
    section div h2 {
        font-size: 22px;
    }
    
    section div p {
        font-size: 18px;
    }

    section div img {
        width: 95%
    }

    .formSize {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    main section div p {
        font-size: 1.7rem;
    }

    .carouselStyle {
        width: 100%;
        margin: auto;
    }

    footer div h2 {
        font-size: 25px;
    }
    
    footer div p {
        font-size: 20px;
    }

    footer div a img {
        width: 5.4%
    }

    h2 {
        font-size: 30px;
    }
    
    section div h2 {
        font-size: 22px;
    }
    
    section div p {
        font-size: 18px;
    }

    section div img {
        width: 95%
    }

    .formSize {
        width: 35%;
        margin: auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    main section div p {
        font-size: 2rem;
    }

    .carouselStyle {
        width: 90%;
        margin: auto;
    }

    footer div h2 {
        font-size: 27px;
    }
    
    footer div p {
        font-size: 22px;
    }

    footer div a img {
        width: 4.5%
    }

    h2 {
        font-size: 35px;
    }
    
    section div h2 {
        font-size: 25px;
    }
    
    section div p {
        font-size: 20px;
    }

    .cardStyle {
        width: 40rem
    }

    section div img {
        width: 95%
    }

    .formSize {
        width: 30%;
        margin: auto;
    }
}